In [20]:
class Phone:
    def make_call(self):
        print("I am making a call")
    def play_game(self):
        print("I am playing a game")

In [21]:
p1 = Phone()

In [22]:
p1.make_call()

I am making a call

In [23]:
p1.play_game()

I am playing a game

In [24]:
class Phone:
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("I am making a call")
    def play_game(self):
        print("I am playing a game")

In [25]:
p2 = Phone()

In [26]:
p2.set_color("blue")

In [27]:
p2.set_cost("5000")

In [28]:
p2.show_color()

'blue'

In [29]:
p2.show_cost()

'5000'

In [30]:
p2.make_call()

I am making a call

In [31]:
p2.play_game()

I am playing a game

In [32]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
    def show_employee_details(self):
        print("Name of employee is",self.name)
        print("Age of employee is",self.age)
        print("Salary of employee is",self.salary)
        print("Gender of employee is",self.gender)

In [33]:
p1 = Employee('Ram',32,50000,'Male')

In [34]:
p1.show_employee_details()

Name of employee is Ram
Age of employee is 32
Salary of employee is 50000
Gender of employee is Male

In [35]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage=mileage
        self.cost = cost
        
    def show_vehicle_details(self):
        print("Mileage of vehicle is",self.mileage)
        print("cost of vehicle is",self.cost)
        print("I am a vehicle")

In [36]:
v1 = Vehicle(200,200)

In [37]:
v1.show_vehicle_details()

Mileage of vehicle is 200
cost of vehicle is 200
I am a vehicle

In [38]:
class Car(Vehicle):
    def show_car_details(self):
        print("i am a car")

In [39]:
c1 = Car(250,800)

In [40]:
c1.show_vehicle_details()

Mileage of vehicle is 250
cost of vehicle is 800
I am a vehicle

In [41]:
c1.show_car_details()

i am a car

In [42]:
class Car(Vehicle):
    def __init__(self,mileage,cost,tyers,hp):
        super().__init__(mileage,cost)
        self.tyers=tyers
        self.hp = hp
        
    def show_car_details(self):
        print("Numbers of tyers in car:",self.tyers)
        print("Horse power of car is :",self.hp)
        print("I am a car")

In [43]:
t1 = Car(600,10000000,8,999)

In [45]:
t1.show_vehicle_details()

Mileage of vehicle is 600
cost of vehicle is 10000000
I am a vehicle

In [46]:
class Parent1:
    def assign_string_one(self,str1):
        self.str1=str1
    def show_string_one(self):
        return self.str1

In [47]:
class Parent2:
    def assign_string_two(self,str2):
        self.str2=str2
    def show_string_two(self):
        return self.str2

In [51]:
class child(Parent1,Parent2):
    def assign_string_three(self,str3):
        self.str3=str3
    def show_string_three(self):
        return self.str3

In [52]:
my_child = child()

In [53]:
my_child.assign_string_one("i am string parent 1")

In [54]:
my_child.assign_string_two("i am string parent 2")

In [55]:
my_child.assign_string_three("i am string of child")

In [56]:
my_child.show_string_one()

'i am string parent 1'

In [57]:
my_child.show_string_two()

'i am string parent 2'

In [59]:
my_child.show_string_three()

'i am string of child'

In [62]:
class Parent():
    def get_name(self,name):
        self.name=name
    def show_name(self):
        return self.name

In [63]:
class Child(Parent):
    def get_age(self,age):
        self.age=age
    def show_age(self):
        return self.age

In [74]:
class GrandChild(Child):
    def get_gender(self,gender):
        self.gender=gender
    def show_gender(self):
        return self.gender

In [75]:
gc = GrandChild()

In [76]:
gc.get_name("Bishal")

In [77]:
gc.get_age(21)

In [78]:
gc.get_gender('Male')

In [79]:
gc.show_name()

'Bishal'

In [80]:
gc.show_age()

21

In [81]:
gc.show_gender()

'Male'